
/**
 * Section
 */
section{
    padding-top: 16px;
    padding-bottom: 16px; 
    word-spacing: -0.43em;
}
section.light-theme{
    //background: rgb(238,238,238);
}
section.white-theme{
    //background: rgb(255,255,255);
}
section.dark-theme{
    //background: rgb(51,51,51);
}
section > header{
    margin:16px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    width: 100%;
}
section > header h1{
    font-family: "Static Bold";
    font-size: 34px;
}

/**
 * Cards
 */
.align--left{
    float:left;
    text-align: left;
}
.align--right{
    float:right;
    text-align: right;
}
.align--center{
    text-align: center;
}
.align--clear{
    clear: both;
}
.align--justify{
    text-align: justify;
}
.card_header.align--center, .card_header.align--left, .card_header.align--right, .card_text.align--center, .card_text.align--left, .card_text.align--right, .card_actions.align--center, .card_actions.align--left, .card_actions.align--right{
    float:none;
} 

.card {
    /*background: brown;*/
    display: inline-block;
    *display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.card .card_margin{
    margin-left: 0.25em;
    margin-right: 0.25em;


}
.card > .card_margin > .card_box{
    margin-top: .25em;
    margin-bottom: .25em;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    /*overflow: hidden;*/
}
.card > .card_margin > .card_box > :first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card > .card_margin > .card_box > :last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card .card--divider:not(:last-child){
    border-bottom: 1px solid black;
}

.card_container{
    overflow: auto;
    /*word-spacing: -0.43em;*/
    word-spacing: -0.30em;
    //background: rgba(255, 100, 0,.7);
    border-bottom: 1px dotted black;
}
.card_header {
    //background: rgba(255,255,0,0.7);
    padding: 16px;
    min-height: 56px;
    border-bottom: 1px dotted black;
}
.card_header .header_title{
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-family: "Open Sans SemiBold";
   
}
.card_header .header_subtitle{
    margin: 0;
    font-size: 20px;
    font-family: "Open Sans Light";
  
}
.card_header.card_header--small .header_title{
    font-size: 20px;
}
.card_header.card_header--ellipsis .header_title, .card_header.card_header--ellipsis .header_subtitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_header.card_header--avatar{
    min-height: 36px;
}
.card_header--avatar > *{
    margin:4px;
}

.card_text {
    //background: rgba(0,255,0,0.7);
    padding:16px;
    font-family: "Open Sans";
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    border-bottom: 1px dotted black;
}
.card_text.card_text--justify{
    text-align: justify;
}
.card_text > :not(:last-child){
    margin-bottom: 16px;
}

.card_rich-area{
    //background: rgba(255,0,255,0.7);
    height: 200px;
    border-bottom: 1px dotted black;
}

.card_actions{
    //background: rgba(0,0,255,.7);
    border-bottom: 1px dotted black;
    min-height: 48px;
    padding-right: 8px;
}
.card_actions .avatar, .card_actions .checkbox, .card_actions .radiobutton, .card_actions .switch{
    margin:0;
    margin-left: 8px;
    //background: orange;
}
.card_actions .button, .card_actions .icontoggle, .card_actions .togglebutton{
    margin-top:6px;
    margin-bottom:6px;
    margin-left: 8px;
}
.card_actions .dropdown{
    height: 48px;
    margin-left: 8px;
}
.card_actions .tab .tab_button{
    line-height: 48px;
}
.card_actions.card_actions--medium{
    min-height: 56px;
    padding-right: 8px;
}
.card_actions--medium .avatar, .card_actions--medium .checkbox, .card_actions--medium .radiobutton, .card_actions--medium .switch{
    margin:0;
    margin-left: 8px;
    margin-top:4px;
    margin-bottom:0px;
    //background: blueviolet;
}
.card_actions--medium .button, .card_actions--medium .icontoggle, .card_actions--medium .togglebutton {
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 8px;
}
.card_actions--medium .dropdown{
    height: 56px;
     margin-left: 8px;
}
.card_actions--medium .tab .tab_button{
    line-height: 56px;
}

.card_actions.card_actions--large{
    min-height: 72px;
    padding-right: 16px;
}
.card_actions--large .avatar, .card_actions--large .checkbox, .card_actions--large .radiobutton, .card_actions--large .switch{
    margin-left: 16px;
    margin-right: 0;
    margin-top:10px;
    margin-bottom:10px;
    //background: greenyellow;
}
.card_actions--large .button, .card_actions--large .icontoggle, .card_actions--large .togglebutton{
    margin-left: 16px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.card_actions--large .dropdown{
    height: 72px;
    margin-left: 16px;
}
.card_actions--large .tab .tab_button{
    line-height: 72px;
}




/**
* xsm (xsmall)
* >= 480px
*/
@media screen and (min-width: 30em) {
}
/**
* sm (small)
* >= 600px
*/
@media screen and (min-width: 37.5em) {

}
/**
* md (medium)
* >= 768px
*/
@media screen and (min-width: 48em) {
}
/**
* lg (large)
* >= 1024px
*/
@media screen and (min-width: 64em) {

}
/**
* xlg (xlg)
* >= 1280px
*/
@media screen and (min-width: 80em) {

}
/**
* xxlg (xxlarge)
* >= 1920px
*/
@media screen and (min-width: 120em) {
}