/**
 * Cards
 */
.card {
    background:gray;
}
.card.card--border-radius{
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.card.card--border-radius > :first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card.card--border-radius > :last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card .card--divider:not(:last-child){
    border-bottom: 1px solid black;
}

.card > .card_header {
    background: rgba(255,255,0,0.7);
    padding: 16px;
    min-height: 56px;
}
.card .card_header .card_title{
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-family: "Open Sans SemiBold";
    color: rgba(0,0,0,.87);
}
.card .card_header .card_subtitle{
    margin: 0;
    font-size: 20px;
    font-family: "Open Sans Light";
    color: rgba(0,0,0,.87);
}
.card_header.card_header--small .card_title{
    font-size: 20px;
}
.card_header.card_header--ellipsis > *{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_header.card_header--avatar{
    min-height: 36px;
}
.card_header--avatar > *{
    margin:4px;
}

.card > .card_text {
    background: rgba(0,255,0,0.7);
    padding:16px;
    font-family: "Open Sans";
    font-size: 16px;
    color: rgba(0,0,0,0.87);
}
.card_text > :not(:last-child){
    margin-bottom: 16px;
}



.avatar{
    /*background: red;*/
    height: 48px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.avatar.avatar--one-line, .avatar.avatar--two-line {
    width: 100%;
}
.avatar img{
    width: 36px;
    height: 36px; 
    margin: 6px 7px;
    border-radius: 50%;
    float: left;
}
.avatar.avatar--one-line span{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 48px;
    float:left;
    white-space: nowrap;
    color:rgba(0,0,0,0.87);
}
.avatar.avatar--two-line span:first-of-type{
    font-family: "Open Sans SemiBold";
    font-size: 16px;
    line-height: 18px;
    display: block;
    margin-top: 6px;
    white-space: nowrap;
    color:rgba(0,0,0,0.87);
}
.avatar.avatar--two-line span:nth-of-type(2){
    font-family: "Open Sans Light";
    font-size: 16px;
    line-height: 18px;
    display: block;
    white-space: nowrap;
    color:rgba(0,0,0,0.87);
}

/**
* xsm (xsmall)
* >= 480px
*/
@media screen and (min-width: 30em) {
}
/**
* sm (small)
* >= 600px
*/
@media screen and (min-width: 37.5em) {

}
/**
* md (medium)
* >= 768px
*/
@media screen and (min-width: 48em) {
}
/**
* lg (large)
* >= 1024px
*/
@media screen and (min-width: 64em) {

}
/**
* xlg (xlg)
* >= 1280px
*/
@media screen and (min-width: 80em) {

}
/**
* xxlg (xxlarge)
* >= 1920px
*/
@media screen and (min-width: 120em) {
}