/*
Theme
*/


/*Light Theme / White Theme
================================================*/
section.light-theme{
    background: rgb(238,238,238);
}
section.white-theme{
    background: rgb(255,255,255);
}
section.light-theme > header > h1, section.white-theme > header > h1{
    color: rgba(0,0,0,.87);
}
.card_box.light-theme {
    background: rgb(238,238,238);
}
.card_box.white-theme {
    background: rgb(255,255,255);
}
.card_header.light-theme, .card_text.light-theme, .card_actions.light-theme, .card_rich-area.light-theme, .card_container.light-theme{
    background: rgb(238,238,238);
}
.card_header.white-theme, .card_text.white-theme, .card_actions.white-theme, .card_rich-area.white-theme, .card_container.white-theme{
    background: rgb(255,255,255);
}
.card_header.light-theme .header_title, .card_header.light-theme .header_subtitle, .card_text.light-theme, .card_actions.light-theme{
    color: rgba(0,0,0,.87);
}
.card_header.white-theme .header_title, .card_header.white-theme .header_subtitle, .card_text.white-theme, .card_actions.white-theme{
    color: rgba(0,0,0,.87);
}
.avatar.light-theme{
    color: rgba(0,0,0,.87);
}
.avatar.white-theme{
    color: rgba(0,0,0,.87);
}


/*Dark Theme
================================================*/
section.dark-theme{
    background: rgb(51,51,51);
}
section.dark-theme > header > h1{
    color: rgba(255,255,255,.87);
}
.card_box.dark-theme {
    background: rgb(51,51,51);
}
.card_header.dark-theme, .card_text.dark-theme, .card_actions.dark-theme, .card_rich-area.dark-theme, .card_container.dark-theme{
    background: rgb(51,51,51);  
}
.card_header.dark-theme .header_title, .card_header.dark-theme .header_subtitle, .card_text.dark-theme, .card_actions.dark-theme{
    color: rgba(255,255,255,.87);
}
.avatar.dark-theme{
    color: rgba(255,255,255,.87);
}


/**
Checkbox
=======================
*/
/*light*/
.checkbox[class*="-light"] .checkbox_label{
    color:rgba(0,0,0,.87);
}
.checkbox[class*="-light"] .checkbox_box-outline{
   border-color: rgba(0,0,0,.87);
}
.checkbox[class*="-light"].is-disabled .checkbox_box-outline{
    border-color: rgb(0,0,0) !important;
}
.checkbox[class*="-light"].is-disabled.is-checked .checkbox_tick-outline{
    background: rgb(0,0,0) !important;
    color: rgb(255,255,255) !important;
}
.checkbox[class*="-light"].is-checked .checkbox_tick-outline{
    color: rgb(255,255,255);
}
/*dark*/
.checkbox[class*="-dark"] .checkbox_label{
    color:rgba(255,255,255,.87);
}
.checkbox[class*="-dark"] .checkbox_box-outline{
   border-color: rgba(255,255,255,.87);
}
.checkbox[class*="-dark"].is-disabled .checkbox_box-outline{
    border-color: rgb(255,255,255) !important;
}
.checkbox[class*="-dark"].is-disabled.is-checked .checkbox_tick-outline{
    background: rgb(255,255,255) !important;
    color: rgb(0,0,0) !important;
}
.checkbox[class*="-dark"].is-checked .checkbox_tick-outline{
    color: rgb(51,51,51);
}

/*green*/
.checkbox[class*="green"].is-checked .checkbox_box-outline{
    border-color: rgb(0,166,0);
}
.checkbox[class*="green"].is-checked .checkbox_tick-outline{
    background: rgb(0,166,0);
}
.checkbox[class*="green"]:before{
    background: rgba(0, 125, 0, .3);
}

/*blue*/
.checkbox[class*="blue"].is-checked .checkbox_box-outline{
    border-color: rgb(18,157,227);
}
.checkbox[class*="blue"].is-checked .checkbox_tick-outline{
    background: rgb(18,157,227);
}
.checkbox[class*="blue"]:before{
    background: rgba(24, 95, 156, .3);
}



/**
Radiobutton
=======================
*/
/*light*/
.radiobutton[class*="-light"] .radiobutton_label{
    color:rgba(0,0,0,.87);
}
.radiobutton[class*="-light"] .radiobutton_box-outline{
    border-color: rgba(0,0,0,.87);
}
.radiobutton[class*="-light"].is-disabled .radiobutton_box-outline{
    border-color: rgb(0,0,0) !important;
}
.radiobutton[class*="-light"].is-disabled.is-checked .radiobutton_tick-outline{
    background: rgb(0,0,0) !important;
}
/*dark*/
.radiobutton[class*="-dark"] .radiobutton_label{
    color:rgba(255,255,255,.87);
}
.radiobutton[class*="-dark"] .radiobutton_box-outline{
    border-color: rgba(255,255,255,.87);
}
.radiobutton[class*="-dark"].is-disabled .radiobutton_box-outline{
    border-color: rgb(255,255,255) !important;
}
.radiobutton[class*="-dark"].is-disabled.is-checked .radiobutton_tick-outline{
    background: rgb(255,255,255) !important;
}

/*green*/
.radiobutton[class*="green"] .radiobutton_tick-outline{
    background: rgb(0,166,0);   
}
.radiobutton[class*="green"].is-checked .radiobutton_box-outline{
    border-color: rgb(0,166,0);
}
.radiobutton[class*="green"].is-checked .radiobutton_box-outline{
    border-color: rgb(0,166,0);
}
.radiobutton[class*="green"]:before{
    background: rgba(0,126,0, .3);
}

/*blue*/
.radiobutton[class*="blue"] .radiobutton_tick-outline{
    background: rgb(18,157,227);   
}
.radiobutton[class*="blue"].is-checked .radiobutton_box-outline{
    border-color: rgb(18,157,227);  
}
.radiobutton[class*="blue"].is-checked .radiobutton_box-outline{
    border-color: rgb(18,157,227);
}
.radiobutton[class*="blue"]:before{
    background: rgba(24,95,156, .3);
}


/**
Switch
=======================
*/
/*light*/
.switch[class*="light"] .switch_label{
     color:rgba(0,0,0,.87);
}
.switch[class*="light"] .switch_box-outline{
    border-color: rgba(0,0,0,.87);
}
.switch[class*="light"] .switch_tick-outline{
    background: rgba(0,0,0,.87);
}
.switch[class*="light"].is-checked .switch_tick-outline{
    background: rgb(238,238,238);
}
.switch[class*="light"].is-disabled .switch_box-outline{
    border-color: rgb(0,0,0) !important;
    background: transparent !important;
}
.switch[class*="light"].is-disabled.is-checked .switch_box-outline{
    background: rgb(0,0,0)!important;
}
.switch[class*="light"].is-disabled.is-checked .switch_tick-outline{
    background: rgb(238, 238, 238) !important;
}
/*dark*/
.switch[class*="dark"] .switch_label{
     color:rgba(255,255,255,.87);
}
.switch[class*="dark"] .switch_box-outline{
    border-color: rgba(255,255,255,.87);
}
.switch[class*="dark"] .switch_tick-outline{
    background: rgba(255,255,255,.87);
}
.switch[class*="dark"].is-checked .switch_tick-outline{
    background: rgb(51,51,51);
}
.switch[class*="dark"].is-disabled .switch_box-outline{
    border-color: rgb(255,255,255) !important;
    background: transparent !important;
}
.switch[class*="dark"].is-disabled.is-checked .switch_box-outline{
    background: rgb(255,255,255)!important;
}
.switch[class*="dark"].is-disabled.is-checked .switch_tick-outline{
    background: rgb(51, 51, 51) !important;
}

/*green*/
.switch[class*="green"].is-checked .switch_box-outline{
    border-color: rgb(0,166,0);
    background: rgb(0,166,0);
}
.switch[class*="green"] .switch_tick-outline:before{
    background: rgba(0,126, 0, .3);
}


/*blue*/
.switch[class*="blue"].is-checked .switch_box-outline{
    border-color: rgb(18, 157,227);
    background: rgb(18, 157,227);
}
.switch[class*="blue"] .switch_tick-outline:before{
    background: rgba(24, 95, 156, .3);
}









/**
* xsm (xsmall)
* >= 480px
*/
@media screen and (min-width: 30em) {
}
/**
* sm (small)
* >= 600px
*/
@media screen and (min-width: 37.5em) {

}
/**
* md (medium)
* >= 768px
*/
@media screen and (min-width: 48em) {
}
/**
* lg (large)
* >= 1024px
*/
@media screen and (min-width: 64em) {

}
/**
* xlg (xlg)
* >= 1280px
*/
@media screen and (min-width: 80em) {

}
/**
* xxlg (xxlarge)
* >= 1920px
*/
@media screen and (min-width: 120em) {
}