/**
 * CSS dos elementos: 
 * -avatar
 * -checkbox
 * -radiobutton
 */


/* Avatar
  ==================================================================== */
.avatar{
    height: 48px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: left;
}
.avatar img{
    width: 36px;
    height: 36px; 
    margin: 6px 7px;
    border-radius: 50%;
    float: left;
}
.avatar.avatar--one-line span{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 48px;
    float:left;
    white-space: nowrap;
    color:rgba(0,0,0,0.87);
}
.avatar.avatar--two-line span:first-of-type{
    font-family: "Open Sans SemiBold";
    font-size: 16px;
    line-height: 18px;
    display: block;
    margin-top: 6px;
    white-space: nowrap;
    color:rgba(0,0,0,0.87);
}
.avatar.avatar--two-line span:nth-of-type(2){
    font-family: "Open Sans Light";
    font-size: 16px;
    line-height: 18px;
    display: block;
    white-space: nowrap;
    color:rgba(0,0,0,0.87);
}




/* Checkbox
  ==================================================================== */

.checkbox{
    height: 48px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
}
.checkbox_input{
    position: absolute;
    top:0;
    left:0;
    // width: 0;
    // height: 0;
    // border:none;
    //appearance: none;
    //-moz-appearance: none;
}
.checkbox_label{
    font-family: "Open Sans";
    font-size: 16px;
    color:rgba(0,0,0,.87);
    line-height: 48px;
    float:left;
}
.checkbox_box-outline{
    float:left;
    border: 2px solid rgba(0,0,0,.87);
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 16px;
    margin-right: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    transition: border .3s cubic-bezier(.4,0,.2,1);
}
.checkbox_tick-outline{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    transition: background .3s cubic-bezier(.4,0,.2,1);
}
.is-checked .checkbox_box-outline{
    border-color: red;
}
.is-checked .checkbox_tick-outline{
    background: red;
}
.checkbox.is-disabled{
    opacity: .26;
    cursor: default;
}
.checkbox.is-disabled .checkbox_box-outline{
    border-color: rgb(0,0,0);
}
.checkbox.is-disabled.is-checked .checkbox_tick-outline{
    background: rgb(0,0,0);
}

.checkbox:before{
    background: rgba(255, 0, 0, .3);
    content: "";
    position: absolute;
    left:0;
    margin-top:6px;
    margin-left: 7px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transform: scale(.5);
    opacity: 0;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.checkbox:hover:not(.is-disabled):before{
    transform: scale(1);
    opacity: 1; 
}

/* Radiobutton
  ==================================================================== */

.radiobutton{
    height: 48px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
}
.radiobutton_input{
    position: absolute;
    top:0;
    left:0;
    // width: 0;
    // height: 0;
    // border:none;
    //appearance: none;
    //-moz-appearance: none;
}
.radiobutton_label{
    font-family: "Open Sans";
    font-size: 16px;
    color:rgba(0,0,0,.87);
    line-height: 48px;
    float:left;
}
.radiobutton_box-outline{
    float:left;
    border: 2px solid rgba(0,0,0,.87);
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 16px;
    margin-right: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    transition: border .3s cubic-bezier(.4,0,.2,1);
}
.radiobutton_tick-outline{
    position: absolute;
    top:2px;
    left:2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all .3s cubic-bezier(.4,0,.2,1);
    background: red;
    transform: scale(0);
}
.is-checked .radiobutton_box-outline{
    border-color: red;
}
.is-checked .radiobutton_tick-outline{
    transform: scale(1);
}

.radiobutton.is-disabled{
    opacity: .26;
    cursor: default;
}
.radiobutton.is-disabled .radiobutton_box-outline{
    border-color: rgb(0,0,0);
}
.radiobutton.is-disabled.is-checked .radiobutton_tick-outline{
    background: rgb(0,0,0);
}

.radiobutton:before{
    background: rgba(255, 0, 0, .3);
    content: "";
    position: absolute;
    left:0;
    margin-top:6px;
    margin-left: 7px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transform: scale(.5);
    opacity: 0;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.radiobutton:hover:not(.is-disabled):before{
    transform: scale(1);
    opacity: 1; 
}


/* Switch
  ==================================================================== */

.switch{
    height: 48px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
}
.switch_input{
    position: absolute;
    top:0;
    left:0;
    // width: 0;
    // height: 0;
    // border:none;
    //appearance: none;
    //-moz-appearance: none;
}
.switch_label{
    font-family: "Open Sans";
    font-size: 16px;
    color:rgba(0,0,0,.87);
    line-height: 48px;
    float:left;
}
.switch_box-outline{
    float:left;
    border: 2px solid rgba(0,0,0,.87);
    background: transparent;
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 18px;
    /*overflow: hidden;*/
    border-radius: 10px;
    position: relative;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.switch_tick-outline{
    position: absolute;
    top:2px;
    left:2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.is-checked .switch_box-outline{
    border-color: red;
    background: red;
}
.is-checked .switch_tick-outline{
    background: rgb(238,238,238);
    left:14px;
}
.switch.is-disabled{
    opacity: .26;
    cursor: default;
}
.switch.is-disabled .switch_box-outline{
    border-color: rgb(0,0,0);
    background: transparent;
}
.switch.is-disabled.is-checked .switch_box-outline{
    background: rgb(0,0,0);
}
.switch.is-disabled.is-checked .switch_tick-outline{
    background: rgb(238, 238, 238);
}

.switch .switch_tick-outline:before{
    background: rgba(255, 0, 0, .3);
    content: "";
    position: absolute;
    left:0;
    top:0;
    margin-top:-13px;
    margin-left: -13px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transform: scale(.5);
    opacity: 0;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.switch:hover:not(.is-disabled) .switch_tick-outline:before{
    transform: scale(1);
    opacity: 1; 
}


/**
* xsm (xsmall)
* >= 480px
*/
@media screen and (min-width: 30em) {
}
/**
* sm (small)
* >= 600px
*/
@media screen and (min-width: 37.5em) {

}
/**
* md (medium)
* >= 768px
*/
@media screen and (min-width: 48em) {
}
/**
* lg (large)
* >= 1024px
*/
@media screen and (min-width: 64em) {

}
/**
* xlg (xlg)
* >= 1280px
*/
@media screen and (min-width: 80em) {

}
/**
* xxlg (xxlarge)
* >= 1920px
*/
@media screen and (min-width: 120em) {
}