/**
 * CSS dos elementos: 
 * -avatar
 * -checkbox
 * -radiobutton
 * -switch
 * -button
 */


/* Avatar
  ==================================================================== */
.avatar{
    height: 48px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: left;
}
.avatar img{
    width: 36px;
    height: 36px; 
    margin: 6px 7px;
    border-radius: 50%;
    float: left;
}
.avatar.avatar--one-line span{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 48px;
    float:left;
    white-space: nowrap;
}
.avatar.avatar--two-line span:first-of-type{
    font-family: "Open Sans SemiBold";
    font-size: 16px;
    line-height: 18px;
    display: block;
    margin-top: 6px;
    white-space: nowrap;
}
.avatar.avatar--two-line span:nth-of-type(2){
    font-family: "Open Sans Light";
    font-size: 16px;
    line-height: 18px;
    display: block;
    white-space: nowrap;
}




/* Checkbox
  ==================================================================== */

.checkbox{
    height: 48px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
}
.checkbox_input{
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
    border:none;
    appearance: none;
    -moz-appearance: none;
    opacity: 0;
}
.checkbox_label{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 48px;
    float:left;
}
.checkbox_box-outline{
    float:left;
    border-width: 2px;
    border-style: solid;
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 16px;
    margin-right: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    transition: border .3s cubic-bezier(.4,0,.2,1);
}
.checkbox_tick-outline{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    transition: background .3s cubic-bezier(.4,0,.2,1);
    font-family: FontAwesome;
}
.is-checked .checkbox_tick-outline::after{
   content: "\f00c";
}
.checkbox.is-disabled{
    opacity: .26;
    cursor: default;
}
.checkbox:before{
    content: "";
    position: absolute;
    left:0;
    margin-top:6px;
    margin-left: 7px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transform: scale(.5);
    opacity: 0;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.checkbox:hover:not(.is-disabled):before{
    transform: scale(1);
    opacity: 1; 
}

/* Radiobutton
  ==================================================================== */
.radiobutton{
    height: 48px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
}
.radiobutton_input{
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
    border:none;
    appearance: none;
    -moz-appearance: none;
    opacity:0;
}
.radiobutton_label{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 48px;
    float:left;
}
.radiobutton_box-outline{
    float:left;
    border-width: 2px;
    border-style: solid;
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 16px;
    margin-right: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    transition: border .3s cubic-bezier(.4,0,.2,1);
}
.radiobutton_tick-outline{
    position: absolute;
    top:2px;
    left:2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all .3s cubic-bezier(.4,0,.2,1);
    transform: scale(0);
}
.is-checked .radiobutton_tick-outline{
    transform: scale(1);
}
.radiobutton.is-disabled{
    opacity: .26;
    cursor: default;
}

.radiobutton:before{
    content: "";
    position: absolute;
    left:0;
    margin-top:6px;
    margin-left: 7px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transform: scale(.5);
    opacity: 0;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.radiobutton:hover:not(.is-disabled):before{
    transform: scale(1);
    opacity: 1; 
}


/* Switch
  ==================================================================== */

.switch{
    height: 48px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
}
.switch_input{
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
    border:none;
    appearance: none;
    -moz-appearance: none;
    opacity:0;
}
.switch_label{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 48px;
    float:left;
}
.switch_box-outline{
    float:left;
    border-width: 2px;
    border-style: solid;
    background: transparent;
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 18px;
    /*overflow: hidden;*/
    border-radius: 10px;
    position: relative;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.switch_tick-outline{
    position: absolute;
    top:2px;
    left:2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

.is-checked .switch_tick-outline{
    left:14px;
}
.switch.is-disabled{
    opacity: .26;
    cursor: default;
}


.switch .switch_tick-outline:before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    margin-top:-13px;
    margin-left: -13px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transform: scale(.5);
    opacity: 0;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.switch:hover:not(.is-disabled) .switch_tick-outline:before{
    transform: scale(1);
    opacity: 1; 
}




/* Button
  ==================================================================== */
.button{
    font-family: "Open Sans SemiBold";
    font-size:14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height:36px;
    border:none;
    display:inline-block;
    padding:0 16px;
    border-radius: 4px;
    background:transparent;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    pointer-events: auto;
}
.button--raised-primary, .button--raised-secondary{
    box-shadow:  0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.button--raised-primary:active, .button--raised-secondary:active, .button--raised-primary.is-active, .button--raised-secondary.is-active{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
.button i{
    font-size:18px;
    line-height: 36px;
}
.button--only-icon{
     padding:0;
     width:36px;
     text-align: center;
}
.button--only-icon i{
    font-size:22px;
    padding:0;
    width:36px;
    text-align: center;
}
.button:disabled, .button.is-disabled{
    pointer-events: none;
}


/* Icon Toggle
  ==================================================================== */
.icontoggle{
    font-family: "Open Sans SemiBold";
    font-size:14px;
    line-height:36px;
    border:none;
    display:inline-block;
    padding: 0;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
}
.icontoggle_input{
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
    border:none;
    appearance: none;
    -moz-appearance: none;
    opacity: 0;
}
.icontoggle i{
    position: relative;
    font-size:20px;
    width:36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}
.icontoggle i:after{
    content: " ";
    position: absolute;
    left:0;
    top:0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transform: scale(.5);
    opacity: 0;
    transition: all .3s cubic-bezier(.4,0,.2,1);
    z-index: -1;
}
.icontoggle:hover:not(.is-disabled) i:after{
    transform: scale(1);
    opacity: 1; 
}
.icontoggle.is-disabled{
    //opacity: .26;
    pointer-events: none;
}
.icontoggle.is-checked i:after{
    pointer-events: none;
    transform: scale(1);
    opacity: 1; 
}
.icontoggle:not(.is-checked) .icontoggle_label-unchecked, .icontoggle.is-checked .icontoggle_label-checked{
    display:inline;
}
.icontoggle.is-checked .icontoggle_label-unchecked, .icontoggle:not(.is-checked) .icontoggle_label-checked{
    display:none;
}



/* Toggle Button
  ==================================================================== */
.togglebutton{
    position: relative;
    display: inline-block;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1);
    box-shadow:  0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 4px;
}
.togglebutton_radio-input, .togglebutton_checkbox-input{
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
    border:none;
    appearance: none;
    -moz-appearance: none;
    opacity: 0;
}
.togglebutton .togglebutton_button{
    font-family: "Open Sans SemiBold";
    font-size:14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height:36px;
    border:none;
    display:inline-block;
    padding:0 16px;
    pointer-events: auto;   
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    cursor:pointer;
}
.togglebutton .togglebutton_button:not(:first-child){
    margin-left: -5px;
}
.togglebutton .togglebutton_button:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.togglebutton .togglebutton_button:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.togglebutton_button i{
    font-size:18px;
    line-height: 36px;
}
.togglebutton_button:disabled, .togglebutton_button.is-disabled{
    pointer-events: none;
}


/* Dropdown
  ==================================================================== */
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown_button{
    position: relative;
    font-family: "Open Sans";
    font-size:14px;
    height:100%;
    border:none;
    display:inline-block;
    padding:0 24px 0 16px;
    background:transparent;
    color:rgba(0,0,0,.87);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    pointer-events: auto;
}
.dropdown_button:after{
    content: "\f0d7";
    //content: "\f0d8";
    font-family: "FontAwesome";
    position: absolute;
    right: 8px;
}
.dropdown_options{
    position: absolute;
    background: white;
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    transition: transform .3s cubic-bezier(.4,0,.2,1) .3s, opacity .2s cubic-bezier(.4,0,.2,1) .3s;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
}
.dropdown_button:focus + .dropdown_options{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}
.dropdown_options.dropdown_options--top-left{
    top:0;
    left:0;
}
.dropdown_options.dropdown_options--top-right{
    top:0;
    right:0;
}
.dropdown_options.dropdown_options--bottom-left{
    bottom:0;
    left:0;
}
.dropdown_options.dropdown_options--bottom-right{
    bottom:0;
    right:0;
}
.dropdown_options li{
    line-height: 48px;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
}
.dropdown_button:hover, .dropdown_options li:hover{
    background: rgba(153,153,153, .2);
}


/**
* xsm (xsmall)
* >= 480px
*/
@media screen and (min-width: 30em) {
}
/**
* sm (small)
* >= 600px
*/
@media screen and (min-width: 37.5em) {

}
/**
* md (medium)
* >= 768px
*/
@media screen and (min-width: 48em) {
}
/**
* lg (large)
* >= 1024px
*/
@media screen and (min-width: 64em) {

}
/**
* xlg (xlg)
* >= 1280px
*/
@media screen and (min-width: 80em) {

}
/**
* xxlg (xxlarge)
* >= 1920px
*/
@media screen and (min-width: 120em) {
}